body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

/**The yellow coloured strip**/
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img{
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

/**The set of the name and kosher certified**/
.navbar-brand{
	padding-top: 25px;
}

/*Just the brand name*/
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	/*text-transform: uppercase;*/
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}

/*Styles to apply on hovering over the brand name*/
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

/*Styles on kosher certification*/
.navbar-brand p{
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-top: 15px;
}

/*The strip containing kosher certification*/
.navbar-brand p span{
	vertical-align: center;
}

/*The set of 3 icons appearing*/
#nav-list{
	margin-top: 10px;
}

/*The icons inside the list*/
#nav-list a{
	color: #61122f;
	text-align: center;
}

#nav-list a:hover{
	background-color: #e7e7e7; 
}

/*The strip containing the logo and title*/
#nav-list a span{
	font-size: 1.8em;
}

/*phone number*/
#phone{
	margin-top: 5px;
}

#phone a{
	text-align: right;
	padding-bottom: 0;
}

#phone div{
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}

/**the icon with 3 horizontal strips appearing on small screen devices**/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px; 
}


/**This is to avoid the jump that was happening before adding this
	This made the logo size to shrink which gave enough room for a few images to accomodate
	and this avoided  them from moving down**/
@media (min-width: 992px) and (max-width: 1199px){
	#logo-img{
		background: url('../images/restaurant-logo_medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}
}

@media (max-width: 767px){

	.navbar-brand{
		/*Decrease the padding and make the height concrete*/
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1{
		/*brand name*/
		padding-top: 10px;
		font-size: 5vw;/*1 vw = 1% of screen width making it relative to screensize*/
	}

	.navbar-brand p{
		/*Kosher certification*/
		/*decrease the size*/
		font-size: 0.6em;
		margin-top: 12px;
	}

	.navbar-brand p img{
		/*star logo*/
		height: 20px;
	}
}

/*Now improving the dropdown*/
#collapsable-nav a{
	font-size: 1.2em;
	/*Increasing font size of titles of the logos in dropdown*/
}

#collapsable-nav a span{
	font-size: 1em;
	margin-right: 5px;
}

/*The call option appearing on mobile screens*/
#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }

#xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

/**THE END OF THE HEADER**/

/*START OF JUMBOTRON*/
.dropbtn {
    background-color: #f6b319;
    color: white;
    padding: 12px;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #e7e7e7;
    color: #f6b319;
}

.dropdown-service-page {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 9px 12px;
    text-decoration: none;
    display: block;
    font-size: 0.7em;
}

.dropdown-service-page p:hover {
	background-color: #ddd
}

.show {
	display:block;
}

.home-type{
	display: inline-block;
	margin-right: 30px;
}

.service-type{
	display: inline-block;
	margin-right: 25px;	
}

.home-details{
	margin-top: 20px;
}

.service-description hr{
	width: 75%;
}

#detailed-description{
	margin-top: 500px;
}

#detailed-description

/**END OF JUMBOTRON**/


/**FOOTER**/
.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}

.panel-footer div.row{
	margin-bottom: 35px;
}

#hours, #address{
	line-height: 2;
}

#hours > span, #address > span{
	font-size: 1.3em;
}

#address p{
	color: #557c3e;
	font-size: 0.8em;
	line-height: 1.8;
}

#testimonials{
	font-style: italic;
}

#testimonials p:nth-child(2){
	margin-top: 25px;
}

@media (max-width: 767px){
	.panel-footer{
		margin-bottom: 30px;
		text-align: center;
	}

	.panel-footer section:nth-child(3){
		margin-bottom: 0;
	}

	.panel-footer section hr{
		width: 50%;
	}	
}
